<div class="details">
  <h1>Create a Movie List</h1>
  <%= link_to "back to Lists", lists_path, class: 'btn btn-primary' %>
  <div class="create-form">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <div class="button-center">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
