<div class="create-form">
  <h1>Create a Movie List</h1>
  <%= link_to "back to Lists", lists_path, class: 'btn btn-primary' %>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
