    <%= render "navbar", task: @list %>
<%# updated code %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key %>) ">
  <div class="title-container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<%# end of banner %>
<div class="bookmark-container">
  <% @list.bookmarks.each do |bookmark|  %>
    <div class="card" style="width: 18rem;">
      <%= image_tag bookmark.movie.poster_url, alt: "Movie Poster" %>
      <div class="card-body">
        <h2 class="card-text"><%= bookmark.movie.title %></h2>
        <p class="card-text"><%= bookmark.movie.overview %></p>
        <p><%= bookmark.comment %></p>
        <div class="delete">
          <%= link_to "delete!", bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# <h1><%= @list.name %></h1>
<%# <hr> %>
<%# original code %>
<%# <% @list.bookmarks.each do |bookmark|  %>
  <%# <h2><%= bookmark.movie.title %></h2>
<%# <p> Poster: <%= bookmark.movie.overview %></p>
<%# <p> Poster: <%= bookmark.movie.poster_url %></p>
<%# <p> Comments: <%= bookmark.comment %></p>
<%# <%= link_to "delete!",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# <% end %>
<%#
<% if @list.photo.attached? %>
<%# <%= cl_image_tag @list.photo.key, width: "200", height: "200" %>
<%# <% else %>
<%# <%= "no photo attached" %>
<%# <% end %>
